@model ApiKeyStorageService.Model.TornApiKey

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TornApiKey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label"></label>
                <input asp-for="PlayerId" class="form-control" />
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FactionId" class="control-label"></label>
                <input asp-for="FactionId" class="form-control" />
                <span asp-validation-for="FactionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>
                <input asp-for="CompanyId" class="form-control" />
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiKey" class="control-label"></label>
                <input asp-for="ApiKey" class="form-control" />
                <span asp-validation-for="ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Enabled" /> @Html.DisplayNameFor(model => model.Enabled)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackPlayer" /> @Html.DisplayNameFor(model => model.TrackPlayer)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackFaction" /> @Html.DisplayNameFor(model => model.TrackFaction)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackCompany" /> @Html.DisplayNameFor(model => model.TrackCompany)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrackTorn" /> @Html.DisplayNameFor(model => model.TrackTorn)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
