@model ApiKeyStorageService.Model.TornApiKey

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TornApiKey</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlayerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FactionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrackPlayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrackPlayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrackFaction)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrackFaction)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrackCompany)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrackCompany)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TrackTorn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TrackTorn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
