@model IEnumerable<ApiKeyStorageService.Model.TornApiKey>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FactionId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackFaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackTorn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackFaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackCompany)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTorn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
